* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ========== Common ========== */
.content {
    width: 1170px;
    /* Để tránh bị sát lề khi kéo thu nhỏ bị mất đi một số phần */
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    line-height: 3.125;
    padding: 0 16px;
    background: #171100;
    border-radius: 24.5px;
}

.btn:hover {
    opacity: 0.9;
}

.desc-wrap {
    white-space: nowrap;
}

/* ========== Header ========== */
.header {
    background: #fffcf4;
    /* background-color: transparent;
    backdrop-filter: blur(15px) brightness(90%); */
}

.header.fixed {
    position: sticky;
    top: -26px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    color: #5f5b53;
    font-size: 1.6rem;
}

.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header .btn-signup {
    min-width: 144px;
}

.header .actions {
    margin-left: 49px;
}

/* ========== Hero ========== */
.hero {
    padding-top: 64px;
    padding-bottom: 65px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
    justify-content: space-between;
}

.hero .img-block {
    width: 48%;
}

.hero .info {
    width: 52%;
}

.hero .img-block {
    position: relative;
    width: 570px;
    height: 685px;
}

.hero .img-block .image {
    display: block;
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .hero-trend {
    padding: 24px;
    position: absolute;
    bottom: 48px;
    right: 0;
    width: 270px;
    height: 244px;
    border-radius: 12px;
    background: #fff;
}

.hero .hero-trend .row {
    margin-top: 18px;
    display: flex;
    align-items: center;
}

.hero .hero-trend .row:first-child {
    margin-top: 0;
}

.hero .hero-trend .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: 6px;
    background-color: var(--bg-icon);
    border-radius: 50%;
}

.hero .icon img {
    width: 24px;
    height: 24px;
}

.hero .hero-trend .row-qty {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.hero .hero-trend .row-desc {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.7;
}

.hero .info {
    padding-left: 106px;
    margin-top: 64px;
}

.hero .info .title {
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
}

.hero .info .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero .actions {
    margin: 38px 0 48px;
    display: flex;
    align-items: center;
}

.hero .actions .btn {
    width: 180px;
    height: 64px;
    padding: 16px;
    margin-right: 28px;
    border-radius: 32px;
    background: #ffb900;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero .actions .watch-video {
    padding: 0;
    display: flex;
    align-items: center;
    border: none;
    background: #fff;
    cursor: pointer;
}

.hero .actions .icon {
    margin-right: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .icon img {
    width: 12px;
    height: 12px;
}

.hero .watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero .title-stat,
.hero .qty-item .desc-qty {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero .col {
    margin-top: 8px;
    display: flex;
}

.hero .qty-item {
    margin-right: 28px;
    display: flex;
    align-items: flex-end;
}

.hero .qty-item .qty {
    margin-right: 16px;
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
}

/* ========== Courses ========== */
.courses {
    margin-top: 100px;
    padding-top: 100px;
}

.courses-top .sub-header {
    width: 458px;
    height: 124px;
}

.courses .sub-title {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.02em;
}

.courses-top {
    display: flex;
    justify-content: space-between;
}

.courses-top .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
}

.courses-top .next-page {
    margin-top: 42px;
}

.courses-top .next-page .icon:first-child {
    margin-right: 18px;
}

.courses .col {
    display: flex;
    justify-content: space-between;
}

.courses .col-item {
    width: 370px;
    height: 466px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.courses .col .image {
    display: block;
    width: 370px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.courses .col-content {
    margin: 16px 22px 22px;
}

.courses .col-header {
    display: flex;
    align-items: center;
}

.courses .col-title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.courses .star {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.courses .num-star {
    margin-left: 6px;
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.courses .col-desc {
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.courses .col-bottom {
    display: flex;
    align-items: center;
}

.courses .col-bottom {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.courses .col .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.courses .col .btn-book {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #fff;
    font-size: 1.4rem;
    border-radius: 25px;
}

.courses .col-item:first-child .btn-book {
    background: #ffb900;
}

/* ========== Testimonial ========== */
.testimonial {
    margin-top: 200px;
    background: #2e2100;
}

.testimonial .content {
    padding: 96px 0;
}

.testimonial .body {
    display: flex;
    justify-content: space-between;
}

.testimonial .info {
    width: 159px;
    height: 188px;
}

.testimonial .avatar {
    display: block;
    width: 72px;
    height: 72px;
    border-radius: 72px;
    object-fit: cover;
}

.testimonial .name {
    margin-top: 18px;
    margin-bottom: 4px;
    color: #f7f7f7;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42;
}

.testimonial .desc {
    margin-bottom: 28px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.testimonial .quote {
    width: 770px;
    height: 188px;
}

.testimonial .quote-content {
    padding-left: 30px;
    margin-left: auto;
    margin-top: auto;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;
}

/* ========== Testimonial ========== */
.features {
    margin-top: 100px;
    padding-top: 100px;
}

.features .content {
    display: flex;
    justify-content: space-between;
}

.features .img-block {
    display: flex;
    width: 570px;
    height: 438px;
}

.features .img-block .image {
    width: 270px;
    height: 405px;
    object-fit: cover;
    border-radius: 16px;
}

.features .img-bl {
    margin-top: auto;
    margin-right: auto;
}

.features .img-tr {
    margin-bottom: auto;
    margin-left: auto;
}

.features .info {
    margin-top: 58px;
    width: 470px;
    height: 322px;
}

.features .sub-title {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.02em;
}

.features .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.features .btn {
    margin-top: 32px;
    width: 137px;
    border-radius: 26px;
    background: #ffb900;
}

/* ========== CTA ========== */
.cta {
    margin-top: 200px;
}

.cta .content {
    display: flex;
    align-items: center;
}

.cta .sub-title {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.02em;
}

.cta .desc {
    margin-top: 16px;
    margin-bottom: 32px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.cta .image {
    margin-left: 130px;
    width: 470px;
    height: 440px;
    border-radius: 20px;
    object-fit: cover;
}

.cta .btn-join-now {
    width: 137px;
    border-radius: 26px;
    background: #ffb900;
}

/* ========== Blog ========== */
.blog {
    margin-top: 100px;
    padding-top: 100px;
    background: #fffcf4;
}

.blog .sub-title {
    color: #130606;
    text-align: center;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.02em;
}

.blog .desc {
    margin: 0 361px;
    color: #696262;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.blog .col {
    display: flex;
    justify-content: space-between;
}

.blog .col-item {
    width: 370px;
    height: 467px;
    border-radius: 16px;
    background: #fff;
}

.blog .col-item .image {
    display: block;
    width: 370px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog .col-info {
    margin: 20px 20px 28px;
}

.blog .date {
    display: flex;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.blog .date img {
    margin-right: 4px;
}

.blog .separate {
    margin: 12px 0;
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
}

.blog .col-title {
    margin-bottom: 12px;
    color: #171100;
    font-weight: 600;
    line-height: 1.75;
}

.blog .btn-read-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 50px;
    font-size: 1.4rem;
    border-radius: 25px;
}
.blog .col-item:first-child {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog .col-item:first-child .btn-read-more {
    background: #ffb900;
}

.blog .next-page {
    display: flex;
    justify-content: center;
    margin-top: 38px;
}

.blog .next-page .icon {
    margin-right: 6px;
}

/* ========== Footer ========== */
.footer {
    margin-top: 96px;
    background: #2e2100;
}

.footer .content {
    padding: 96px 0 28px;
}

.footer .separate {
    margin-top: 14px;
    width: 130px;
    height: 1px;
    background: #59554b;
}

.footer .col {
    display: flex;
}

.footer .col-item {
    margin-right: 130px;
}

.footer .col-item:last-child {
    margin-right: 0;
}

.footer .heading {
    color: #fff;
    font-weight: 600;
    line-height: 1.75;
}

.footer .desc {
    display: block;
    margin-top: 12px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.footer .col-item .item:first-child .desc {
    margin-top: 28px;
}

.footer .col-item strong {
    color: #fff;
    font-weight: 600;
}

.footer .desc-logo {
    width: 267px;
    margin-top: 8px;
    margin-bottom: 18px;
}

.footer .col-logo {
    margin-right: 145px;
}

.footer .social-link {
    margin-right: 18px;
}

.footer .separate-end {
    margin-top: 38px;
    margin-bottom: 28px;
    width: 1170px;
}

.footer .copyright {
    color: #807d74;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
}
