* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --font-heading: Sen, sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ========== Common ========== */
.content {
    width: 1170px;
    /* Để tránh bị sát lề khi kéo thu nhỏ bị mất đi một số phần */
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

.btn {
    display: inline-block;
    min-width: 118px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    line-height: 3.125;
    padding: 0 16px;
    background: #171100;
    border-radius: 24.5px;
}

.btn:hover {
    opacity: 0.9;
}

.desc-wrap {
    white-space: nowrap;
}

.line-clamp {
    display: -webkit-box;
    /* Mặc định là 1 dòng */
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

/* ========== Header ========== */
.header {
    background: #fffcf4;
    /* background-color: transparent;
    backdrop-filter: blur(15px) brightness(90%); */
}

.header.fixed {
    position: sticky;
    top: -26px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    color: #5f5b53;
    font-size: 1.6rem;
}

.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header .btn-signup {
    min-width: 144px;
}

.header .actions {
    margin-left: 49px;
}

/* ========== Hero ========== */
.hero {
    padding-top: 64px;
    padding-bottom: 65px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
    justify-content: space-between;
}

.hero .img-block {
    width: 48%;
}

.hero .info {
    width: 52%;
}

.hero .img-block {
    position: relative;
    width: 570px;
    height: 685px;
}

.hero .img-block .image {
    display: block;
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .hero-trend {
    padding: 24px;
    position: absolute;
    bottom: 48px;
    right: 0;
    width: 270px;
    height: 244px;
    border-radius: 12px;
    background: #fff;
}

.hero .hero-trend .row {
    margin-top: 18px;
    display: flex;
    align-items: center;
}

.hero .hero-trend .row:first-child {
    margin-top: 0;
}

.hero .hero-trend .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: 6px;
    background-color: var(--bg-icon);
    border-radius: 50%;
}

.hero .icon img {
    width: 24px;
    height: 24px;
}

.hero .hero-trend .row-qty {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.hero .hero-trend .row-desc {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.7;
}

.hero .info {
    padding-left: 106px;
    margin-top: 64px;
}

.hero .info .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero .actions {
    margin: 38px 0 48px;
    display: flex;
    align-items: center;
}

.hero .actions .btn {
    width: 180px;
    height: 64px;
    padding: 16px;
    margin-right: 28px;
    border-radius: 32px;
    background: #ffb900;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero .actions .watch-video {
    padding: 0;
    display: flex;
    align-items: center;
    border: none;
    background: #fff;
    cursor: pointer;
}

.hero .actions .icon {
    margin-right: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .icon img {
    width: 12px;
    height: 12px;
}

.hero .watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero .title-stat,
.hero .qty-item .desc-qty {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero .col {
    margin-top: 8px;
    display: flex;
}

.hero .qty-item {
    margin-right: 28px;
    display: flex;
    align-items: flex-end;
}

.hero .qty-item .qty {
    margin-right: 16px;
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
}

/* ========== Courses ========== */
.courses {
    margin-top: 100px;
    padding-top: 100px;
}

.courses-top .sub-header {
    width: 458px;
    height: 124px;
}

.courses-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses-top .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.courses-top .controls {
    display: flex;
    gap: 18px;
}

.courses .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: transparent;
}

.courses .control-btn:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
}

.courses .col {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.courses .col-item {
    width: 370px;
    height: 466px;
    border-radius: 12px;
    background: #fff;
    border: 1px solid #e2dfda;
}

.courses .col-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.courses .col .image {
    display: block;
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.courses .col-content {
    margin: 16px 22px 22px;
}

.courses .col-header {
    display: flex;
    align-items: center;
}

.courses .col-title a {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.courses .star {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.courses .num-star {
    margin-left: 6px;
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.courses .col-desc {
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.courses .col-bottom {
    display: flex;
    align-items: center;
}

.courses .col-bottom {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.courses .col .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.courses .col-item .btn-book {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #fff;
    font-size: 1.4rem;
    border-radius: 25px;
}

.courses .col-item .btn-book:hover {
    background: #ffb900;
    cursor: pointer;
}

/* ========== Testimonial ========== */
.feedback {
    margin-top: 200px;
    background: #2e2100;
}

.feedback .content {
    padding: 96px 0;
}

.feedback .feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback .feedback-item {
    width: 100%;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    /* Dùng để trượt khi đổi item nhưng có js mới dùng được */
    /* transform: translateX(-100%);
    transition: all ease .3s; */
}

.feedback .info {
    width: 159px;
    height: 188px;
}

.feedback .avatar {
    display: block;
    width: 72px;
    height: 72px;
    border-radius: 72px;
    object-fit: cover;
}

.feedback .name {
    margin-top: 18px;
    margin-bottom: 4px;
    color: #f7f7f7;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42;
}

.feedback .desc {
    margin-bottom: 28px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.feedback-item .dots {
    display: flex;
    margin-top: 28px;
}

.feedback-item .dot {
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
}

.feedback-item .dot.active {
    background: #ffb900;
}

.feedback .quote {
    width: 66%;
}

.feedback .quote-content {
    padding-left: 30px;
    margin-left: auto;
    margin-top: auto;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;
}

/* ========== Testimonial ========== */
.features {
    margin-top: 100px;
    padding-top: 100px;
}

.features .content {
    display: flex;
    justify-content: space-between;
}

.features .img-block {
    display: flex;
    gap: 30px;
}

.features .img-block .image {
    width: 270px;
    height: 405px;
    object-fit: cover;
    border-radius: 16px;
}

.features .img-lower {
    margin-top: 34px;
}

.features .info {
    width: 41%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.features .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.features .btn {
    margin-top: 32px;
    min-width: 137px;
    border-radius: 26px;
    background: var(--primary-color);
}

/* ========== CTA ========== */
.cta {
    margin-top: 200px;
}

.cta .content {
    display: flex;
    align-items: center;
}

.cta .info {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.cta .desc {
    margin-top: 16px;
    margin-bottom: 32px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.cta .image {
    margin-left: 130px;
    width: 470px;
    height: 440px;
    border-radius: 20px;
    object-fit: cover;
}

.cta .btn-join-now {
    min-width: 137px;
    border-radius: 26px;
    background: var(--primary-color);
}

/* ========== Blog ========== */
.blog {
    margin-top: 200px;
    padding-top: 96px;
    background: #fffcf4;
}

.blog .heading.lv2 {
    text-align: center;
}

.blog .desc {
    margin: 16px auto 55px auto;
    width: 448px;
    color: #696262;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.blog .blog-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    overflow: hidden;
}

.blog .item {
    flex-shrink: 0;
    width: calc(33.33% - 20px);
    border-radius: 16px;
    background: #fff;
}

.blog .item:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog .item .thumb {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog .info {
    margin: 20px 20px 28px;
}

.blog .item .date {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding-bottom: 12px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.blog .item .date::before {
    content: "";
    display: inline-block;
    margin-right: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
}

.blog .item .date::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: inline-block;
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
}

.blog .title a {
    display: inline-block;
    margin: 12px 0;
    color: #171100;
    font-weight: 600;
    line-height: 1.75;
}

.blog .btn-read-more {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 50px;
    font-size: 1.4rem;
    border-radius: 25px;
}

.blog .btn-read-more:hover {
    background: #ffb900;
}

.blog .dots {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.blog .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5f5b53;
    cursor: pointer;
}

.blog .dot.active {
    cursor: default;
    background: var(--primary-color);
}
/* ========== Footer ========== */
.footer {
    margin-top: 96px;
    background: #2e2100;
}

.footer .content {
    padding: 96px 0 28px;
}

.footer .separate {
    margin-top: 14px;
    width: 130px;
    height: 1px;
    background: #59554b;
}

.footer .col {
    display: flex;
}

.footer .col-item {
    width: 21.6%;
}

.footer .col-item:first-child {
    width: 35%;
}

.footer .title {
    display: inline-block;
    padding: 0 48px 14px 0;
    border-bottom: 1px solid #59554b;
    color: #fff;
    font-weight: 600;
    line-height: 1.75;
}

.footer .desc {
    display: block;
    margin-top: 12px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.footer .col-item .list {
    margin-top: 28px;
}

.footer .col-item strong {
    color: #fff;
    font-weight: 600;
}

.footer .desc-logo {
    width: 267px;
    margin-top: 8px;
    margin-bottom: 18px;
}

.footer .social {
    display: flex;
    gap: 18px;
}

.footer .separate-end {
    margin-top: 38px;
    margin-bottom: 28px;
    width: 1170px;
}

.footer .copyright {
    color: #807d74;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
}